<!DOCTYPE html>
<html>
<head>
  <title>Let's Pair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "layouts/shared/side_bar" %>
    <%= render "layouts/shared/header" %>
    <%= render "layouts/shared/body" %>
</body>
</html>
